@import '../../../../assets/styles/abstracts/variables';

.border-left {
  border-top-left-radius: 10px;
}

.border-right {
  border-top-right-radius: 10px;
}

.active-label {
  margin-left: 10px;
}

.colored-item {
  color: $color-indigo;
  font-weight: bold;
}

.pi-trash {
  color: $color-delete;
}

.pi {
  cursor: pointer;
}
