<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<div *ngIf="currentNif">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <label htmlFor="username">Imagen de portada</label>
          <br />
          <div class="card">
            <ngx-file-drop
              accept="image/*"
              [multiple]="false"
              contentClassName="text-center"
              browseBtnClassName="btn card"
              (onFileDrop)="dropped($event, currentNif)"
            >
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <h3 for="archivo" (click)="openFileSelector()" class="btn mt-4">
                  Seleccione o arrastre la imagen
                </h3>
                <p>Recuerde utilizar imágenes o fotografías de dominio público</p>
              </ng-template>
            </ngx-file-drop>
          </div>

          <div class="card" *ngIf="getString(currentNif?.image1)">
            <p-image [src]="currentNif.image1" alt="Image" width="50%"></p-image>
          </div>
        </div>

        <div class="col-md-12">
          <label htmlFor="username">Descripción</label>
          <br />
          <div class="card-html">
            <app-editor
              (createHtml)="createHtml($event)"
              [htmlText]="currentNif.content"
            ></app-editor>
          </div>
        </div>

        <div class="col-md-12 text-end mt-2">
          <button pButton pRipple class="btn btn-primary" (click)="createUpdateNif()">
            {{ currentNif.nifsId ? 'Guardar' : 'Crear' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngFor="let item of currentNif?.sections; let i = index">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <label htmlFor="username">Imagen de portada</label>
          <br />
          <div class="card" *ngIf="getString(item?.image1)">
            <p-image [src]="item!.image1" alt="Image" width="50%"></p-image>
          </div>

          <div class="card">
            <ngx-file-drop
              contentClassName="text-center"
              browseBtnClassName="btn card"
              (onFileDrop)="dropped($event, item)"
              [multiple]="false"
            >
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <h3 for="archivo" (click)="openFileSelector()" class="btn mt-4">
                  Seleccione o arrastre la imagen
                </h3>
                <p>Recuerde utilizar imágenes o fotografías de dominio público</p>
              </ng-template>
            </ngx-file-drop>
          </div>
        </div>
        <div class="col-md-6">
          <label htmlFor="username">Descripción</label>
          <br />
          <div class="card-html">
            <app-editor
              (createHtml)="getFuntion(item)"
              [htmlText]="item?.content"
              (createHtmlElement)="createHtmlElement($event)"
              [element]="i"
            ></app-editor>
          </div>
        </div>

        <div class="col-md-12 text-end mt-2">
          <button pButton pRipple class="btn btn-secondary" (click)="deleteSection(i, item)">
            Eliminar
          </button>
          <button pButton pRipple class="btn btn-primary" (click)="saveAddSection(i)">
            {{ item.nifsId ? 'Guardar' : 'Crear' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="currentNif?.nifsId !== null && currentNif.sections.length + 1 <= 2">
    <div class="col-md-12">
      <div class="text-center" (click)="addSection()">
        <span>
          <button class="pi pi-plus round-btn"></button>
          <span> Agregar nueva sección</span>
        </span>
      </div>
    </div>
  </div>
</div>
