.workflow-status {
  cursor: pointer;
}
.text-none {
  display: flex;
  justify-content: center;
  height: 40vh;
  align-items: center;
  color: #6c757d;
  font-size: 20px;
  font-family: 'monserrat-light';
}
