<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<div class="row mt-5" *ngIf="selectItem">
  <div class="col-md-8 header-top">{{ selectItem.nameItem }} {{ selectItem.name }}</div>
  <div class="col-md-4 text-end">
    <button pButton pRipple class="btn btn-primary mb-2" (click)="returnCurriculum()">
      Ver estructura curricular
    </button>
  </div>

  <div *ngIf="pdfUrl !== '' && template === 3" class="px-0">
    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 (click)="template = 2" class="title-page">
          <span class="pi pi-arrow-left"></span> Regresar
        </h6>
      </div>
    </div>

    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 class="title-page">Sílabos</h6>
      </div>
    </div>

    <iframe [src]="safePdfUrl" width="100%" height="600px" frameborder="0"></iframe>
  </div>

  <div *ngIf="guideUrl !== '' && template === 4" class="px-0">
    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 (click)="template = 2" class="title-page">
          <span class="pi pi-arrow-left"></span> Regresar
        </h6>
      </div>
    </div>

    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 class="title-page">Guia de asignatura</h6>
      </div>
    </div>
    <iframe [src]="subjectGuidePdfUrl" width="100%" height="600px" frameborder="0"></iframe>
  </div>

  <div class="row" *ngIf="template === 5">
    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 (click)="template = 2" class="title-page">
          <span class="pi pi-arrow-left"></span> Regresar
        </h6>
      </div>
    </div>

    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 class="title-page">Resultados de aprendizaje especificos generales (RAEG)</h6>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <ul>
          <li><label htmlFor="basic">Globales</label></li>
          <div class="col-12 col-md-12 mt-2">
            <div class="col-12 mt-2">
              <p>
                {{ subjectGuideData?.learningGeneral }}
              </p>
            </div>
          </div>
        </ul>

        <ul>
          <li><label htmlFor="basic">Especifícos</label></li>
          <div class="col-12 col-md-12 mt-2">
            <div class="col-12 mt-2">
              <p>
                {{ subjectGuideData?.learningSpecific }}
              </p>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-6">
        <img class="img-header-style" [src]="srcImageRAEG" />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="template === 6">
    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 (click)="template = 2" class="title-page">
          <span class="pi pi-arrow-left"></span> Regresar
        </h6>
      </div>
    </div>

    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6>Recursos</h6>
      </div>
    </div>

    <div class="col-12 col-md-12 mt-4">
      <label htmlFor="basic">Basica</label>
      <div class="col-12 mt-2">
        <p>
          {{ subjectGuideData?.bibliographyBasic }}
        </p>
      </div>
    </div>

    <div class="col-12 col-md-12 mt-4">
      <label htmlFor="basic">En otros idiomas</label>
      <div class="col-12 mt-2">
        <p>
          {{ subjectGuideData?.bibliographyLanguage }}
        </p>
      </div>
    </div>

    <div class="col-12 col-md-12 mt-4">
      <label htmlFor="basic">Cibergrafia</label>
      <div class="col-12 mt-2">
        <p>
          {{ subjectGuideData?.bibliographyWeb }}
        </p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="template === 7">
    <div class="row mt-2">
      <div class="p-d-flex p-ai-center">
        <h6 (click)="template = 2" class="title-page">
          <span class="pi pi-arrow-left"></span> Regresar
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="row mt-2">
        <div class="p-d-flex p-ai-center">
          <h6>Organizacion de actividades</h6>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <p-table [value]="subjectGuideData?.activityRequestList || []">
        <ng-template pTemplate="header">
          <tr>
            <th class="action-center">Fecha</th>
            <th class="action-center">Resultado de aprendizaje</th>
            <th class="action-center">Temática</th>
            <th class="action-center">Actividades sincrónas</th>
            <th class="action-center">Actividades previas y posteriores</th>
            <th class="action-center">Estrategias pedagogicas y evaluativas</th>
            <th class="action-center">Link</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr>
            <td class="text-center">{{ product?.activityDate | date: 'dd/MM/yyyy' }}</td>
            <td class="text-center">{{ product?.result }}</td>
            <td class="text-center">{{ product?.topic }}</td>
            <td class="text-center">{{ product?.syncActivities }}</td>
            <td class="text-center">{{ product?.previusActivities }}</td>
            <td class="text-center">{{ product?.strategies }}</td>
            <td>
              <a class="color-url-link" [href]="product?.url" target="_blank">{{ product?.url }}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div
    class="col-12 px-0"
    *ngIf="template !== 3 && template !== 4 && template !== 5 && template !== 6 && template !== 7"
  >
    <img [src]="srcImage" class="w-100" />
  </div>

  <div class="col-12 px-0 header-bottom" *ngIf="template === 2">
    Semestre: {{ selectItem.semester }} | Créditos: {{ selectItem.credits }} | Horas de interacción
    con el profesor: {{ selectItem.hoursInteractionTeacher }} | Horas de trabajo autónoma:
    {{ selectItem.hoursSelfWork }} |
  </div>
</div>
<div class="row d-flex justify-content-end btn-absolute" *ngIf="template === 1">
  <div class="col-4 card-footer d-flex justify-content-center">
    <div class="col-4">
      <div class="btn-footer" (click)="redirectRaegNucleo(100)">RAEG</div>
    </div>
    <div class="col-4">
      <div class="btn-footer" (click)="redirectRaegNucleo(101)">Subnúcleos</div>
    </div>
  </div>
</div>
<div class="row" *ngIf="selectItem">
  <div class="col-12 mt-3 subtitle-description" *ngIf="template === 1 || template === 2">
    Descripción general {{ selectItem.name }}
  </div>
  <div
    class="col-12 mt-3"
    *ngIf="template !== 3 && template !== 4 && template !== 5 && template !== 6 && template !== 7"
  >
    <p>
      {{ subjectGuideData?.coreDescription }}
    </p>
  </div>

  <div class="col-8" *ngIf="template === 0">
    <p-table [value]="selectItem.childs || []">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">{{ selectItem.nameItemChild }}</th>
          <th class="text-center">Créditos</th>
          <th class="text-center">% Participación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr (click)="loadNewDetail(item)">
          <td>
            <div class="custom-button">{{ item.name }}</div>
          </td>
          <td class="text-center">{{ item.creditNumber }}</td>
          <td class="text-center">{{ item.participation }}%</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td>Total</td>
          <td class="text-center">{{ totalCreditNumber }}</td>
          <td class="text-center">{{ totalParticipation }}%</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="row" *ngIf="template === 2">
    <div class="col-12 card-footer">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <div class="btn-footer" (click)="loadSyllabusItem()">Silabos</div>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <div class="btn-footer" (click)="loadSubjectGuidePdfItem()">Guías de asignatura</div>
        </div>
        <div class="col-1 d-flex justify-content-center">
          <div class="btn-footer" (click)="template = 5">RAEG</div>
        </div>
        <div class="col-2 d-flex justify-content-center">
          <div class="btn-footer" (click)="template = 6">Recursos</div>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <div class="btn-footer" (click)="template = 7">Organización de actividades</div>
        </div>
      </div>
    </div>
  </div>
</div>
