@import '../../../../../../assets/styles/abstracts/variables';
.header-top {
  background: $color-indigo;
  color: $color-white;
  font-size: 20px;
  border-radius: 0.5em 0.5em 0 0;
  padding-top: 10px;
}
.header-bottom {
  background: $color-indigo;
  color: $color-white;
  font-size: 15px;
  border-radius: 0 0 0.5em 0.5em;
  padding: 3px 10px 5px 10px !important;
}
.custom-button {
  padding-left: 5px;
  border-radius: 0.5em;
  color: $color-indigo;
  line-height: 40px;
  cursor: pointer;
  user-select: none; /* Evita la selección de texto al hacer clic */
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: $color-indigo;
  color: $color-white;
}

.custom-button:active {
  background-color: $color-blue-subtitle;
  color: $color-white;
}

.subtitle-description {
  font-size: 18px;
  color: $color-indigo;
}
.card-footer {
  background-color: $color-tangerine-yellow;
  color: $color-indigo;
  border-radius: 1em;
}
.btn-footer {
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0.5em;
  height: 30px;
  margin: 10px 0px;
  color: $color-indigo;
  text-align: center;
  cursor: pointer;
  user-select: none; /* Evita la selección de texto al hacer clic */
  transition: background-color 0.3s ease;
}

.btn-footer:hover {
  background-color: $color-indigo;
  color: $color-white;
}

.btn-footer:active {
  background-color: $color-blue-subtitle;
  color: $color-white;
}
.btn-absolute {
  margin-top: -20px;
}

.img-header-style {
  height: 500px;
  border-radius: 5%;
}
