.image-cover {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}
.image-logo {
  text-align: center;
  position: relative;
  &__img {
    border-radius: 50%;
    width: 130px;
    box-shadow: 0 0 15px #cdc6c6;
    margin-top: -90px;
    margin-bottom: 30px;
  }
}

.input-document {
  background-color: #f8f8f8;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}
.pi-book {
  margin-left: 10px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  right: 30px;
  top: 25px;
}
