<div class="row mt-2">
  <div class="col-12 col-md-6 mt-4">
    <div class="home-view-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quidem temporibus tenetur
      adipisci, nostrum labore, quia vel id a ex porro veritatis officia, sint amet aliquam
      corrupti? Aut, maxime quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
      quidem temporibus tenetur adipisci, nostrum labore, quia vel id a ex porro veritatis officia,
      sint amet aliquam corrupti? Aut, maxime quo. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Enim quidem temporibus tenetur adipisci, nostrum labore, quia vel id a ex
      porro veritatis officia, sint amet aliquam corrupti? Aut, maxime quo. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Enim quidem temporibus tenetur adipisci, nostrum labore,
      quia vel id a ex porro veritatis officia, sint amet aliquam corrupti? Aut, maxime quo. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Enim quidem temporibus tenetur adipisci,
      nostrum labore, quia vel id a ex porro veritatis officia, sint amet aliquam corrupti? Aut,
      maxime quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quidem temporibus
      tenetur adipisci, nostrum labore, quia vel id a ex porro veritatis officia, sint amet aliquam
      corrupti? Aut, maxime quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
      quidem temporibus tenetur adipisci, nostrum labore, quia vel id a ex porro veritatis officia,
      sint amet aliquam corrupti? Aut, maxime quo. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Enim quidem temporibus tenetur adipisci, nostrum labore, quia vel id a ex
      porro veritatis officia, sint amet aliquam corrupti? Aut, maxime quo. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Enim quidem temporibus tenetur adipisci, nostrum labore,
      quia vel id a ex porro veritatis officia, sint amet aliquam corrupti? Aut, maxime quo. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Enim quidem temporibus tenetur adipisci,
      nostrum labore, quia vel id a ex porro veritatis officia, sint amet aliquam corrupti? Aut,
      maxime quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quidem temporibus
      tenetur adipisci, nostrum labore, quia vel id a ex porro veritatis officia, sint amet aliquam
      corrupti? Aut, maxime quo.
    </div>
  </div>
  <div class="col-12 col-md-6 mt-4">
    <div class="mt-2">
      <img
        alt="ragi"
        src="./../../../../../assets/images/template/img7.jpg"
        class="home-view-img"
      />
    </div>
  </div>
</div>
