<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="row">
  <div class="p-d-flex p-ai-center">
    <h2 class="title-page">
      <span class="pi pi-sitemap" style="font-size: 1.7rem"></span>Núcleo integrador de formación
      sanmartiniana
    </h2>
    <p>¡Ser parte de la San Martín es un honor! Conoce todo sobre la formación sanmartiniana.</p>
    <hr class="w-25" />
  </div>
</div>
