<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<p-table
  [value]="rows"
  (onPage)="onPageChange($event)"
  page
  [paginator]="totalRecords > pageSize"
  [rows]="pageSize"
  [lazy]="true"
  (onLazyLoad)="loadPrograms()"
  [totalRecords]="totalRecords"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Programa académico</th>
      <th *ngIf="role === RoleEnum.VICERRECTOR">Facultad</th>
      <th>Lugar de desarrollo</th>
      <th>Nivel de formación</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Concepto</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <div class="container-image">
          <img class="container-image__img" [src]="item?.logo" alt="" />
          <span class="container-image__text">
            {{ item?.name ?? '--' }}
          </span>
        </div>
      </td>
      <td *ngIf="role === RoleEnum.VICERRECTOR">{{ item?.setFaculty?.catalogItemName ?? '--' }}</td>
      <td>
        <div *ngFor="let item of item?.setCampus">
          {{ item }}
        </div>
      </td>
      <td>{{ item?.setLevelFormation?.catalogItemName ?? '--' }}</td>
      <td>{{ (item?.created_at | date: 'dd/MM/yyyy') ?? '--' }}</td>
      <td>
        <button class="status rejected button-styles">No aprobado</button>
      </td>

      <td class="d-flex justify-content-center">
        <i class="pi pi-eye" (click)="viewDocument(item?.feedback_file_url)"></i>
        <i class="pi pi-cloud-download" (click)="downloadDocument(item?.feedback_file_url)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-preview-document
  *ngIf="previewDocument"
  [visible]="visible"
  (closeModal)="closeModal($event)"
  [previewDocument]="previewDocument"
></app-preview-document>

<div class="text-center mt-2" *ngIf="rows.length === 0">
  <p>No se encontraron resultados...</p>
</div>
