.blue-column {
  color: rgb(40, 165, 214);
  font-weight: bold;
}

.yellow-line {
  border-top: 2px solid rgb(245, 180, 0);
  margin-left: 10px;
}

h6 {
  color: #4b878d;
}

form {
  background-color: #4b878d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-table {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.space {
  height: 30px;
}
