.content-accordion {
  margin: 20px 0px;
  padding: 1.25rem;
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-accordion {
  margin-top: 0px;
  box-shadow: 0px 3px 5px #e3e3e3;
  border: 0;
  padding: 1.25rem;
  border-radius: 10px;
}

.p-button-accordion {
  padding-bottom: 0;
}

.pi {
  cursor: pointer;
}
