<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<h6>Flujos de creación</h6>
<span class="flow-text"
  >Tenga en cuenta que al realizar modificaciones en la estructura del flujo de creación, los
  cambios realizados no afectarán los programas existentes.</span
>

<div class="row">
  <div class="col-12">
    <div>
      <div class="mt-2 shadow-table">
        <p-table [value]="workflowList || []" [paginator]="workflowList.length > 6" [rows]="6">
          <ng-template pTemplate="header">
            <tr>
              <th class="border-left" style="width: 20%">Nombre de flujo</th>
              <th>Descripción</th>
              <th style="width: 5%" class="text-center"></th>
              <th style="width: 5%" class="border-right"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td class="colored-item">{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>
                <div class="rounded-icon" (click)="redirectStep(item)">
                  <i class="pi pi-sitemap"></i>
                </div>
              </td>
              <td>
                <i class="pi pi-pencil" (click)="openCreateDialod(item)"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="text-center mt-2" *ngIf="(workflowList || []).length === 0">
        <p>No se encontraron resultados...</p>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Edición de flujo"
  [(visible)]="updateFlowKey"
  [style]="{ width: '25%' }"
  [resizable]="true"
  [modal]="true"
  [closable]="true"
  [closeIcon]="'pi pi-times'"
>
  <div class="row pop-up-margin">
    <form [formGroup]="formFlow">
      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label htmlFor="">Nombre</label>
          <input pInputText formControlName="name" class="ng-invalid" />
          <small class="error" *ngIf="formControls['name'].errors && formControls['name'].touched">
            * Campo obligatorio.
          </small>
          <small class="error" *ngIf="formControls['name'].errors && formControls['name'].invalid">
            * Campo no debe sobrepasar los 150 caracteres.
          </small>
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label htmlFor="">Descripción</label>
          <textarea rows="3" cols="30" pInputTextarea formControlName="description"></textarea>
          <small
            class="error"
            *ngIf="formControls['description'].errors && formControls['description'].touched"
          >
            * Campo obligatorio.
          </small>
          <small
            class="error"
            *ngIf="formControls['description'].errors && formControls['description'].invalid"
          >
            * Campo no debe sobrepasar los 500 caracteres.
          </small>
        </div>
      </div>
      <div class="col-12 py-2 text-center">
        <button class="btn btn-primary" (click)="updateFlow()">Guardar</button>
      </div>
    </form>
  </div>
</p-dialog>
