@import '../../../../../../assets/styles/abstracts/variables';

.container-card {
  position: relative;
  text-align: center;
}

:host {
  ::ng-deep .p-card .p-card-body {
    min-height: 300px;
  }
}

.subtitle-card-dashboard {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.blue-section {
  cursor: pointer;
  background-color: $color-indigo;
  padding: 20px; /* Ajusta el relleno según sea necesario */
  color: $color-white; /* Color de texto para que sea legible sobre el fondo azul */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
}

.credit-label {
  font-size: 10px;
  font-weight: bold;
}
.credit-content {
  font-weight: normal;
}
