@import '../../../../assets/styles/abstracts/variables';

.tittle-style {
  color: #16395f;
}

hr {
  border-width: 3px;
  color: $color-tangerine-yellow;
}

.icon-edit {
  cursor: pointer;
  color: $color-icon-edit;
}

.content-accordion {
  margin: 20px 0px;
  padding: 1.25rem;
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-accordion {
  margin-top: 0px;
  box-shadow: 0px 3px 5px #e3e3e3;
  border: 0;
  padding: 1.25rem;
  border-radius: 10px;
}

.p-button-accordion {
  padding-bottom: 0;
}

.space-director {
  padding: 10px;
  border-bottom: 1px solid $color-platinum;
}

.info-user {
  font-size: 12px;
  color: $color-jelly-bean-blue-alpha;
  span {
    font-weight: bold;
  }
}

.donestatus {
  background-color: $color-done-blue;
}

.col-1-5 {
  width: 12% !important;
  max-width: 12% !important;
}

.col-td-ptretable {
  width: 13% !important;
  max-width: 13% !important;
}

.icon-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin-right: 0.25rem !important;
}

.badge {
  position: absolute;
  top: -10px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
