@import '../../../../assets/styles/abstracts/variables';

.align-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.colored-item {
  color: $color-indigo;
  font-weight: bold;
}

.pi-pencil {
  color: $color-tangerine-yellow;
}

.pi {
  cursor: pointer;
}

.border-left {
  border-top-left-radius: 10px;
}

.border-right {
  border-top-right-radius: 10px;
}

.active-label {
  margin-left: 10px;
}
