.multi-select {
  border: 1px solid #ced4da;
  border-radius: 5px;
}
@import '../../../../../../../assets/styles/abstracts/variables';
table {
  width: 100%;
}
.review {
  background-color: $color-indigo;
}
