@import '../../../../../assets/styles/abstracts/variables';

.container-area {
  display: flex;
  overflow-x: auto;
}
.area-title {
  font-weight: bold;
}
.area-label {
  border-radius: 0.5em;
  background: aliceblue;
  margin-left: 5px;
  padding: 5px;
  color: $color-indigo;
}

.container-curse {
  background: aliceblue;
  padding: 10px;
  border-radius: 0.7em;
  font-size: 15px;
  margin-bottom: 10px;
}
.container-curse_data {
  margin-top: 5px;
  background: antiquewhite;
  border-radius: 0.7em;
  padding: 5px;
  font-size: 14px;
}
.bold-text {
  font-weight: bold;
}
