<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10">
        <!--  <div class="alert">
          <i class="pi pi-bell alert-icon"></i>
        </div> -->

        <span class="name-user">{{ session?.userData?.name }}</span>
        <p class="name-rol">{{ roleName }}</p>
      </div>
      <div class="col-md-2">
        <img src="./assets/images/Icono-atenea.svg" class="image-login" alt="Icono atenea" />
      </div>
    </div>
  </div>
</div>
