@import '../../../../assets/styles/abstracts/variables';

.card {
  position: relative;
  overflow: hidden;
  padding: 0px;
}

.title-news {
  padding: 20px;
  color: $color-white;
  font-size: 20px;
}
.date-news {
  font-size: 12px;
  color: $color-white;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura según sea necesario */
  background-size: cover;
  background-position: center;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.degradado {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Ajusta la altura del div interno según sea necesario */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    #16395fe0 30%
  ); /* Degradado de transparente a negro */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Ajusta la altura del div interno según sea necesario */
  background: $color-indigo; /* Degradado de transparente a negro */
  cursor: pointer;
}

.top-btns-actions {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Ajusta la altura del div interno según sea necesario */
  background: rgba(0, 0, 0, 0); /* Degradado de transparente a negro */
}

.status-icons {
  padding: 3px 5px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  /* margin: 0 auto; */
  text-align: center;
  border: 0;
}

.tittle-style {
  color: #16395f;
}

hr {
  border-width: 3px;
  color: $color-tangerine-yellow;
}

.icon-edit {
  cursor: pointer;
  color: $color-icon-edit;
}

.icon-delete {
  cursor: pointer;
  color: $color-icon-delete;
}

.btn {
  padding: 2px 5px;
}
