$color-dark-blur-gray: #ececec;
$color-base-san-martin: rgb(24, 59, 96);
$color-linear-gradient-san-martin: linear-gradient(
  0deg,
  rgba(24, 59, 96, 1) 0%,
  rgba(74, 134, 141, 1) 94%
);

$color-auro-metal-saurus: #6c757d;
$color-white: #ffffff;
$color-dodger-blue: #409bff;
$color-davis-gray: #495057;
$color-platinum: #e3e3e3;
$color-jelly-bean-blue: #4b878d;
$color-jelly-bean-blue-alpha: rgba(75, 135, 141, 0.8);
$color-shadow: rgba(0, 0, 0, 0.2);
$color-indigo: #16395f;
$color-indigo-lighter: #1d4a7a;
$color-quick-silver: #a7a7a7;
$color-anti-flash-white: #f3f3f3;
$color-cultured: #f8f8f8;
$color-gray-cultured: #e2e2e2;
$color-vermilion: #e02c08;
$color-water: #d7f3f7;
$color-tangerine-yellow: #fece04;
$color-declined: #af1617;
$color-danger: #af1617;
$color-delete: #af1617;
$color-waiting-request: #f48430;
$color-approved: #59946b;
$color-ceil: #86a5c7;
$color-blue-subtitle: #61969b;
$color-requested: #f38430;
$color-url-link: #0000ff;
$color-done-blue: #409bff;
$color-gray: #707070;
$color-icon-edit: #ffce01;
$color-icon-delete: #af1617;

$color-form-input-text: #161616;
$color-text-view-data: #62696f;
$color-text-view-placeholder: #6c757d;
